/* Configurações Globais */
body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #000000;
  margin: 0;
}

/* Efeito de brilho central */
.glow-effect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 60vw;
  background: radial-gradient(
    circle,
    rgba(79, 70, 229, 0.15) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  pointer-events: none;
  z-index: 0;
}

/* Animação suave personalizada */
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce-slow {
  animation: float 4s ease-in-out infinite;
}

/* Seleção de texto personalizada */
::selection {
  background: #4f46e5;
  color: white;
}
